<div>
    <h1>404 - Site not found</h1>
    <p>The requested page could not be found.</p>
    <a href="/">Go back to homepage</a>
</div>

<style>
  div {
    text-align: center;
    margin: 5rem auto;
    color: #fff;
  }
  a {
    color: #09c;
  }
</style>